<div class="container">
    <div class="row" *ngFor="let food of foodArray">
      <div class="col">
        <section class="mx-auto my-5" >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{ food.description }}</h5>
              <p class="card-text">{{ food.brandOwner }}</p>
  
              <div>
                <ul
                  class="list-unstyled d-flex justify-content-between font-small text-muted"
                >
                  <h5>Food Nutrients</h5>
                </ul>
                <table class="table table-borderless table-sm mb-0">
                  <tbody *ngFor="let nutrient of food.foodNutrients">
                    <tr *ngIf="expandToggleFlag == true">
                      <td class="font-weight-small align-middle">
                        {{ nutrient.name }}
                      </td>
                      <td class="float-end font-weight-normal"> 
                        <p class="mb-1">
                          <span class="text-muted"
                            >{{ nutrient.amount }} {{ nutrient.unitName }}</span
                          >
                        </p>
                      </td>
                      <td class="float-end me-3">
                        <i class="fas fa-sun fa-lg text-warning"></i>
                      </td>
                    </tr>
                  </tbody>
                  <hr />
  
                  <div class="favourit-flex">
                    <button class="btn btn-info" (click)="expandToggle()">
                      Expand
                    </button>
                    <button
                      class="btn btn-danger favourit-remove"
                      (click)="removeFoodItem(food)"
                    >
                      Remove
                    </button>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  
  